*{
  margin: 0;
  padding: 0;
}

.meu-container{
  border: 1px solid deeppink;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;

  /*flex*/
  display: flex;
  flex-direction: column;
}

header{
  background-color: #DDA0DD;
}

main{
  background-color: #B2DFEE;
  flex-grow: 1;
}

body{
  font-family: verdana, sans-serif;
}

footer{
  background-color: #C71585;
}

.content{
  display: flex;
  flex-direction: column;
}

.item{
  margin: 3em;
}
