<form class="formulario" name="cursoform">
  <div class="form-group">
    <label for="nome">Nome do Curso: </label>
    <input type="text" class="form-control" name="nome" ng-model="curso.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>

    <!-- ng-messages | campo nome | 1st -->
    <div ng-messages="cursoform.nome.$error" ng-if='cursoform.nome.$dirty'>
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-info">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
  </div>
  <div class="form-group">
    <label for="id_turno">Turno: </label>
    <input type="text" class="form-control" name="id_turno" ng-model="curso.id_turno" placeholder="ID turno" ng-required="true">

    <!-- ng-messages | campo ID turno | 2nd -->
    <div ng-messages="cursoform.id_turno.$error" ng-if='cursoform.id_turno.$dirty'>
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo ID turno!
			</div>
		</div>
  </div>
  <button type="reset" name="Redefinir" value="Redefinir" class="btn btn-light">Redefinir</button>
  <p></p>
  <button ng-click="cadastrar()" ng-disabled="cursoform.$invalid" type="button" name="Cadastrar" value="Cadastrar" class="btn btn-outline-light btn-block">Cadastrar</button>
</form>
