<form class="formulario" action="http://localhost:5000/professor" method="POST" name="professorform">
  <div class="form-group">
    <label for="nome">Nome do Professor: </label>
    <input type="text" class="form-control" name="nome" ng-model="professor.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>

    <!-- ng-messages | campo nome | 1st -->
    <div ng-messages="professorform.nome.$error" ng-if='professorform.nome.$dirty'>
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-info">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>
  </div>
  <div class="form-group">
    <label for="id_endereco">Endereço: </label>
    <input type="text" class="form-control" name="id_endereco" ng-model="professor.id_endereco" placeholder="ID endereço" ng-required="true">

    <!-- ng-messages | campo ID endereço | 2nd -->
    <div ng-messages="professorform.id_endereco.$error" ng-if='professorform.id_endereco.$dirty'>
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo ID endereço!
			</div>
		</div>
  </div>
  <button type="reset" name="Redefinir" value="Redefinir" class="btn btn-light">Redefinir</button>
  <p></p>
  <button ng-click="cadastrar()" ng-disabled="professorform.$invalid" type="button" name="Cadastrar" value="Cadastrar" class="btn btn-outline-light btn-block">Cadastrar</button>
</form>
